<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/change-pw.css">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <form id="changePwForm" action="/change-pw" class="input-group" method="post">
            <div class="img"><img src="회원가입달력.png" alt="none"></div>
            
            <section>
                <h2>Healancaler</h2>
                <div> 
                    <input type="text" name="userid" class="input-field" placeholder="아이디" id="userid" required>
                </div>
                <div>
                    <input type="text" name="username" class="input-field" placeholder="이름" id="username" required>
                </div>
                <% if (userError) { %>
                    <p class="error-message"><%= userError %></p>
                <% } %>
                <div>
                    <input type="password" name="user_new_pw" class="input-field" placeholder="신규 비밀번호" id="user_new_pw" required>
                </div>
                <div>
                    <input type="password" name="check_new_pw" class="input-field" placeholder="신규 비밀번호 재입력" id="check_new_pw" required>
                </div>
                <% if (pwError) { %>
                    <p class="error-message"><%= pwError %></p>
                <% } %>
            </section>
            <section>
                <button id="btn-login" type="submit">비밀번호 변경</button>
            </section>
        </form>
        
        <div id="a-find-total">
            <a href="looking-for-id" class="a-find">아이디 찾기</a>
            <span> | </span>
            <a href="login" class="a-find">로그인</a>
            <span> | </span>
            <a id="a-join" href="/join" class="a-find">회원가입</a>
        </div>
        <% if (message) { %>
            <div style="text-align: center; margin-top: -22.3px;">
                <p style="color: red; font-size: 9px;"><%= message %></p>
            </div>
        <% } %>
    </main>
</body>
</html>
