<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/board.css">
</head>
<body>
    <%- include('includes/header') %>
    <div class="container">
        <%- include('includes/aside') %>
        <main class="main-content">
            <h1>헬린이게시판</h1>
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td><a href="/child-content/<%= data[i]._id %>"><%= data[i].title %></a></td>
                            <td><%= data[i].author %></td>
                            <td><%= data[i].date %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="btn">
                <a href="#" class="btn btn-primary" id="update-board">작성하기</a>
            </div>
        </main>
    </div>
    <script>
        document.getElementById('update-board').addEventListener('click', function(event) {
            event.preventDefault();
            fetch('/check-login-status')
                .then(response => response.json())
                .then(data => {
                    if (data.loggedIn) {
                        window.location.href = '/update-child-board';
                    } else {
                        alert('로그인이 필요합니다.');
                        window.location.href = '/login';
                    }
                })
                .catch(error => {
                    console.error('Error checking login status:', error);
                    alert('오류가 발생했습니다. 다시 시도해주세요.');
                });
        });
    </script>
</body>
</html>

