<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/diary.css" />
    <script src="/scripts/diary.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <main class="container">
      <div class="calendar">
        <div class="year-month">
          <div class="current-date">
            <span class="current-year"></span>
            <span class="current-month"></span>
          </div>
          <input type="month" id="monthPicker"/>
          <div class="icons">
            <span id="prev" class="btn-month btn-left">
              <svg xmlns="http://www.w3.org/2000/svg"  width="25" height="25" fill="currentColor"  class="bi bi-caret-left" viewBox="0 0 16 16" >
                <path  d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753" />
              </svg>
            </span>
            <span id="next" class="btn-month btn-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16"  >
                <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"  />
              </svg>
            </span>
          </div>
        </div>
        <div class="weeks-days">
          <ul class="weeks">
            <li>일</li>
            <li>월</li>
            <li>화</li>
            <li>수</li>
            <li>목</li>
            <li>금</li>
            <li>토</li>
          </ul>
          <hr class="hr-calendar"/>
          <ul class="days"></ul>
        </div>
      </div>
      <!-- <div class="calendar-right"> -->
        <div id="popup" class="popup">
          <div class="popup-content-1">
            <p class="p-popup-exercise">오늘의 운동</p>
            <p id="popup-date"></p>
            <div class="popup-exercise">
              <ul id="exercise-list"></ul>
              <div id="btn-add-exercise" class="btn-add-exercise">
                <span class="btn-add">
                  <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                        class="bi bi-plus-circle"  viewBox="0 0 16 16" >
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                  </svg>
                  <p class="p-add-exercise">운동 추가하기</p>
                </span>
              </div>
            </div>
          </div>

          <div id="popup-choice-exercise" class="popup-choice-exercise">
            <span>
              <svg class="close2" xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" >
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
              </svg>
            </span>
            <form id="add-exercise-form">
              <div class="choice-exercise">
                <p class="p-choice-exercise">운동 선택</p>
                <select name="exercise" id="exercise-select" class="select-exercise">
                    <%- include('includes/exercise_list') %>
                </select>
              </div>
              <div class="count-exercise">
                <input type="number" id="reps" name="reps" class="input-count-exercise"  onKeyup="this.value=this.value.replace(/[^.0-9]/g,'');"  min="1" max="3000" />
                <p>회 x</p>
                <input type="number" id="sets" name="sets" class="input-count-exercise"  onKeyup="this.value=this.value.replace(/[^.0-9]/g,'');" min="1" max="3000" />
                <p>세트</p>
              </div>
              <button id="add-exercise-button" type="submit">추가</button>
            </form>
          </div>
          <div class="popup-content-2">
            <div class="popup-diet">
              <p class="p-popup-diet">오늘의 식단</p>
              <div class="image-upload-container" id="meal-section meals-container">
                  <form id="form1" action="/save-meals" method="post" enctype="multipart/form-data" onsubmit="saveMeal(event, 'uploadInput1', 'uploadBox1')">
                      <input type="hidden" id="hiddenDate1" name="date"/>
                      <input type="file" name="morningMeal" id="uploadInput1" accept="image/*" style="display:none;" onchange="previewImage(event, 'uploadBox1', 'saveButton1')" onchange= "saveMeal('아침', 'fileInput1')" required />
                      <div id="uploadBox1" class="placeholder image-upload-box" onclick="document.getElementById('uploadInput1').click();">
                          <p class="p-meals"> + <br> 아침 식단</p>
                      </div>
                      <button type="submit" class="saveButton1 btn-save-meals" style="display:none;">저장</button>
                      <button type="button" class="deleteButton1 btn-save-meals" onclick="cancelFunction()" style="display:none;">삭제</button>
                      <button type="button" class="changeButton1 btn-save-meals" onclick="updateFunction()" style="display:none;">변경</button>
                  </form>
                  <div class="morning">
                    <% meals.filter(meal => meal.mealType === '아침').forEach(meal => { %>
                        <div>
                            <img class="img-meal img-morning" src="/meal_images/<%= meal.filename %>" alt="<%= meal.mealType %> 이미지">
                        </div>
                    <% }) %>
                  </div>

                  <form id="form2" action="/save-meals" method="post" enctype="multipart/form-data" onsubmit="saveMeal(event, 'uploadInput2', 'uploadBox2')">
                      <input type="hidden" id="hiddenDate2" name="date"/>
                      <input type="file" name="lunchMeal" id="uploadInput2" accept="image/*" style="display:none;" onchange="previewImage(event, 'uploadBox2', 'saveButton2')" onchange="saveMeal('점심', 'fileInput2')" required />
                      <div id="uploadBox2" class="placeholder image-upload-box" onclick="document.getElementById('uploadInput2').click();">
                          <p class="p-meals"> + <br> 점심 식단</p>
                      </div>
                      <button type="submit" class="saveButton2 btn-save-meals" style="display:none;">저장</button>
                      <button type="button" class="deleteButton2 btn-save-meals" onclick="cancelFunction()" style="display:none;">삭제</button>
                      <button type="button" class="changeButton2 btn-save-meals" onclick="updateFunction()" style="display:none;">변경</button>
                  </form>
                  <div class="lunch">
                    <% meals.filter(meal => meal.mealType === '점심').forEach(meal => { %>
                        <div>
                            <img class="img-meal img-lunch" src="/meal_images/<%= meal.filename %>" alt="<%= meal.mealType %> 이미지">
                        </div>
                    <% }) %>
                  </div>

                  <form id="form3" action="/save-meals" method="post" enctype="multipart/form-data" onsubmit="saveMeal(event, 'uploadInput3', 'uploadBox3')">
                      <input type="hidden" id="hiddenDate3" name="date"/>
                      <input type="file" name="dinnerMeal" id="uploadInput3" accept="image/*" style="display:none;" onchange="previewImage(event, 'uploadBox3', 'saveButton3')" onchange="saveMeal('저녁', 'fileInput3')" required />
                      <div id="uploadBox3" class="placeholder image-upload-box " onclick="document.getElementById('uploadInput3').click();">
                          <p class="p-meals"> + <br> 저녁 식단</p>
                      </div>
                      <button type="submit" class="saveButton3 btn-save-meals" style="display:none;">저장</button>
                      <button type="button" class="deleteButton3 btn-save-meals" onclick="cancelFunction()" style="display:none;">삭제</button>
                      <button type="button" class="changeButton3 btn-save-meals" onclick="updateFunction()" style="display:none;">변경</button>
                  </form>
                  <div class="dinner">
                    <% meals.filter(meal => meal.mealType === '저녁').forEach(meal => { %>
                        <div>
                            <img class="img-meal img-dinner" src="/meal_images/<%= meal.filename %>" alt="<%= meal.mealType %> 이미지">
                        </div>
                    <% }) %>
                  </div>
                </div>
            </div>
            <!--인바디-->            
            <div class="popup-inbody">
              <p class="p-popup-inbody">오늘의 눈바디</p>
              <div class="popup-inbody-input">
                <form id="save-inbody" name="weight" method="post" enctype="multipart/form-data">
                  <div class="save-inbody inbody-part">
                    <div class="nunbody-image-box" id="photo-placeholder" onclick="document.getElementById('fileInput').click();">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      </svg>
                      <p>오늘의 눈바디 사진을 <br/> 등록해주세요.</p>
                    </div>
                    <input type="file" id="fileInput" style="display:none;" accept="image/*" onchange="previewInbodyImage(event)" >
                    <!-- <button type="submit" class="btn-save-nunbody" style="display:none;">저장</button> -->
                    <div class="popup-input popup-weight">
                        <label for="weight" class="weight">체중</label>
                        <input type="text" id="weight" name="weight" class="inbody-input input-weight" onKeyup="this.value=this.value.replace(/[^.0-9]/g,'');" />
                        <div id="today-weight"></div>
                        <p>kg</p>
                    </div>
                  </div>
                  <button class="btn-save-inbody">저장</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="d-day-graph">
          <div class="D-day">
            <p class="p-weight-goal"> 목표 체중 : <%= goalWeight%> kg </p>
            <p class="d-day">D-<%= dDay%></p>
          </div>
          <div class="graph">
            <div class="choice-inbody-graph">
              <form action="">
                <select name="" id="dataSelector">
                  <option value="weight">체중</option>
                  <option value="muscle">골격근량</option>
                  <option value=""></option>
                </select>    
              </form>
            </div>
            <div class="inbody-graph">
              <canvas id="weightChart" width="300" height="250"></canvas>   
            </div>
          </div>
        </div>
    </main>
  </body>
</html>


