<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/board.css">
</head>
<body>
    <%- include('includes/header') %>
    <div class="container">
        <%- include('includes/aside') %>
        <main class="main-content">
            <h1>오운완게시판</h1>
            <table>
                <thead>
                    <tr>
                        <th class="title-column">제목</th>
                        <th class="author-column">작성자</th>
                        <th class="date-column">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td class="title-column"><a href="/end-content/<%= data[i]._id %>"><%= data[i].title %></a></td>
                            <td class="author-column"><%= data[i].author %></td>
                            <td class="date-column"><%= data[i].date %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="pagination">
                <% if (currentPage > 1) { %>
                    <a href="/end-board?page=<%= currentPage - 1 %>" class="pagination-arrow">이전</a>
                <% } %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (i === currentPage) { %>
                        <span class="pagination-page current-page"><%= i %></span>
                    <% } else { %>
                        <a href="/end-board?page=<%= i %>" class="pagination-page"><%= i %></a>
                    <% } %>
                <% } %>
                <% if (currentPage < totalPages) { %>
                    <a href="/end-board?page=<%= currentPage + 1 %>" class="pagination-arrow">다음</a>
                <% } %>
            </div>
            <div class="btn-container">
                <a href="#" class="btn btn-primary" id="update-board">작성하기</a>
            </div>
        </main>
    </div>
    <script>
        document.getElementById('update-board').addEventListener('click', function(event) {
            event.preventDefault();
            fetch('/check-login-status')
                .then(response => response.json())
                .then(data => {
                    if (data.loggedIn) {
                        window.location.href = '/update-end-board';
                    } else {
                        alert('로그인이 필요합니다.');
                        window.location.href = '/login';
                    }
                })
                .catch(error => {
                    console.error('Error checking login status:', error);
                    alert('오류가 발생했습니다. 다시 시도해주세요.');
                });
        });
    </script>
</body>
</html>
