<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/board.css">
</head>
<body>
    <%- include('includes/header')%>
    <div class="container">
        <%- include('includes/aside')%>
        <main class="main-content">
            <h1>자유게시판</h1>
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td><%= data[i].title %></a></td>
                            <td><%= data[i].author %></td>
                            <td><%= data[i].date %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="btn">
                <a href="/update-free-board" class="btn btn-primary" id="update-board">작성하기</a>
            </div>
        </main>
    </div>
</body>
</html>
