<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/board.css">
</head>
<body>
    <%- include('includes/header')%>
    <div class="container">
        <aside class="sidebar">
            <div class="profile">
                <div class="profile-image"><img src="" alt="..."></div>
                <div class="profile-name"><%= user ? user.name : '' %></div>
                <form method="POST" action="/my-page">
                    <button class="profile-button">내 정보</button>
                </form>
                <form method="POST" action="/logout">
                    <button class="profile-button">로그아웃</button>
                </form>
            </div>
            <hr>
            <div class="menu">
                <ul>
                    <li><a href="free-board">자유게시판</a></li>
                    <li><a href="end-board">오운완게시판</a></li>
                    <li><a href="info-board">정보게시판</a></li>
                    <li><a href="child-board">헬린이게시판</a></li>
                    <li><a href="ghwm-board">G.H.W.M 게시판</a></li>
                </ul>
            </div>
        </aside>
        <main class="main-content">
            <h1>정보 게시판</h1>
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td><%= data[i].title %></a></td>
                            <td><%= data[i].author %></td>
                            <td><%= data[i].date %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="btn">
                <a href="/update-info-board" class="btn btn-primary" id="update-board">작성하기</a>
            </div>
        </main>
    </div>
</body>
</html>

