<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/main-board.css">
</head>
<body>
    <%- include('includes/header')%>
    <div class="container">
        <%- include('includes/aside', { user: user }) %>
        <main class="main-content">
            <div class="boards">
                <div class="board">
                    <h2>자유게시판</h2>
                    <ul>
                        <% if (freeBoardPosts && freeBoardPosts.length > 0) { %>
                            <% freeBoardPosts.forEach(function(post) { %>
                                <li><a href="/free-content/<%= post._id %>"><%= post.title %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li>게시물이 없습니다.</li>
                        <% } %>
                    </ul>
                </div>
                <div class="board">
                    <h2>오운완게시판</h2>
                    <ul>
                        <% if (endBoardPosts && endBoardPosts.length > 0) { %>
                            <% endBoardPosts.forEach(function(post) { %>
                                <li><a href="/end-content/<%= post._id %>"><%= post.title %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li>게시물이 없습니다.</li>
                        <% } %>
                    </ul>
                </div>
                <div class="board">
                    <h2>정보게시판</h2>
                    <ul>
                        <% if (infoBoardPosts && infoBoardPosts.length > 0) { %>
                            <% infoBoardPosts.forEach(function(post) { %>
                                <li><a href="/info-content/<%= post._id %>"><%= post.title %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li>게시물이 없습니다.</li>
                        <% } %>
                    </ul>
                </div>
                <div class="board">
                    <h2>헬린이게시판</h2>
                    <ul>
                        <% if (childBoardPosts && childBoardPosts.length > 0) { %>
                            <% childBoardPosts.forEach(function(post) { %>
                                <li><a href="/child-content/<%= post._id %>"><%= post.title %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li>게시물이 없습니다.</li>
                        <% } %>
                    </ul>
                </div>
                <div class="board">
                    <h2>G.H.W.M 게시판</h2>
                    <ul>
                        <% if (ghwmBoardPosts && ghwmBoardPosts.length > 0) { %>
                            <% ghwmBoardPosts.forEach(function(post) { %>
                                <li><a href="/ghwm-content/<%= post._id %>"><%= post.title %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li>게시물이 없습니다.</li>
                        <% } %>
                    </ul>
                </div>
                <div class="board">
                    <h2>오늘의 인기글</h2>
                    <ul>
                      <% if (popularPosts && popularPosts.length > 0) { %>
                        <% popularPosts.forEach(function(post) { %>
                          <li><a href="/<%= post.board.replace('_board', '') %>-content/<%= post._id %>"><%= post.title %></a></li>
                        <% }) %>
                      <% } else { %>
                        <li>오늘 올라온 게시물이 없습니다.</li>
                      <% } %>
                    </ul>
                </div>                                                     
            </div>
        </main>
    </div>
</body>
<%- include('includes/footer') %>
</html>
