<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/my-board.css">
</head>
<body>
    <%- include('includes/header')%>
    <h1>내가 쓴 글</h1>
    
    <div class="board-list">
        <% if (posts.length > 0) { %>
            <% posts.forEach((post, index) => { %>
                <div class="board <%= (index === posts.length - 1) ? 'last-post' : '' %>">
                    <h4><a href="/<%= post.board %>-board"><%= post.board_name %></a></h4>
                    <h3><a href="/<%= post.board %>-content/<%= post._id %>" action="/<%= post.board %>-content/:<%= post._id %>"><%= post.title %></a></h3>
                    <div class="low-element">
                        <p>댓글 수: <%= post.commentCount %></p>
                        <span>|</span>
                        <p>작성일: <%= new Date(post.date).toLocaleDateString("ko-KR") %></p>
                    </div>
                </div>
            <% }) %> 
        <% } else { %>
            <style>.board-list {border-bottom: 1px solid rgb(11, 154, 167);};</style>
            <p>작성한 글이 없습니다.</p>
        <% } %>
    </div>

    <div class="pagination">
        <% if (totalPages > 1) { %>
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/my-board?page=<%= i %>" class="numbering <%= currentPage === i ? 'current-page' : '' %>"><%= i %></a>
            <% } %>
        <% } %>
    </div>
</body>
<%- include('includes/footer') %>
</html>
