<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="styles/my-board.css">
</head>
<body>
    <%- include('includes/header')%>
    <h1>내가 쓴 글</h1>

    <div class="board-list">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="board">
                    <h4><%= post.board_name%></h3>
                    <h3><a href="/<%= post.board %>-content/:<%= post._id %>"><%= post.title %></a></h3>
                    <div class="low-element">
                        <p>댓글 수: <%= post.comments ? post.comments.length : 0 %></p>
                        <span>|</span>
                        <p>작성일: <%= new Date(post.date).toLocaleDateString("ko-KR") %></p>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <style>.board-list {border-bottom:  1px solid rgb(11, 154, 167);};</style>
            <p>작성한 글이 없습니다.</p>
        <% } %>
    </div>
</body>
</html>
